<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

    <!-- <script src="https://aframe.io/releases/1.0.0/aframe.min.js"></script>
    <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js"></script> -->

</head>
<body>
    <div id="app"></div>
    <!-- <a-scene embedded arjs inspector keyboard-shortcuts screenshot vr-mode-ui
        device-orientation-permission-ui>
        <a-marker preset="hiro" material arjs-anchor arjs-hit-testing>
            <a-entity position="0 -1 0" scale="0.05 0.05 0.05"
                gltf-model="https://arjs-cors-proxy.herokuapp.com/https://raw.githack.com/AR-js-org/AR.js/master/aframe/examples/image-tracking/nft/trex/scene.gltf">
            </a-entity>
        </a-marker>
        <a-entity camera></a-entity>
        <canvas class="a-canvas" data-aframe-canvas="true" width="500" height="500"></canvas>
        <div class="a-loader-title" style="display: none;"></div>
        <div class="a-enter-vr" aframe-injected style="position: fixed;"><button class="a-enter-vr-button"
                title="Enter VR mode with a headset or fullscreen mode on a desktop. Visit https://webvr.rocks or https://webvr.info for more information."
                aframe-injected></button></div>
        <div class="a-enter-ar a-hidden" aframe-injected><button class="a-enter-ar-button"
                title="Enter AR mode with a headset or handheld device. Visit https://webvr.rocks or https://webvr.info for more information."
                aframe-injected></button></div>
        <div class="a-orientation-modal a-hidden" aframe-injected><button aframe-injected>Exit VR</button></div>
        <a-entity light data-aframe-default-light aframe-injected></a-entity>
        <a-entity light position data-aframe-default-light aframe-injected></a-entity>
    </a-scene> -->
</body>
</html>