@use "@material/card";
@include card.core-styles;

.rfs-card {
    &__primary-action {
        &__title {
            padding: 0 1rem;
            margin: 0;
        }

        &__subtitle {
            padding: 0 1rem;
            margin: 0;
        }
    }
    &__media {
        margin: 0;
    }
    &__actions {
        padding: 16px 0;
    }
}