button {
    &.expandable {
        position: relative;
        background: #fabada;
        padding: 5px 20px;
        border-radius: 20%;
        box-sizing: border-box;
        max-width: 0px;
        height: 40px;
        border: 0;
        white-space: nowrap;
        transition: max-width .3s linear, color .15s ease .15s;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgba(0, 0, 0, 0);

        &::after {
            content: '#';
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            transition: right .3s;

            color: rgba(0, 0, 0, 1);
        }

        &--open {
            color: rgba(0, 0, 0, 1);
            max-width: 100px;

            &::after {
                right: 5px;
            }
        }
    }
}